@using wm.Web2.Models
@model IEnumerable<wm.Model.GoodCategory>

@{
    ViewBag.Title = "ManagerDetailsOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManagerDetailsOrder</h2>


<div class="row">
    <hr />
    <div class="row">
        @Html.Partial("_DetailsOrder_GoodCategory", new EditOrder_GoodCategoryViewModel { GoodCategories = Model, EditAction = "ManagerDetailsOrder", orderId = ViewBag.OrderId })
        @Html.Partial("_DetailsOrder_Handsontable")

    </div>

</div>

@section Scripts {
    <script src="~/Content/EditOrderHelper.js"></script>

    <script>
        $(document).ready(function() {
            $(".GoodCategoryItem[id$='GoodCategoryItem" + @ViewBag.GoodCategoryId + "']").addClass("active"); //for decoration
        });
    </script>

    <script>
        var $$ = function(id) {
            return document.getElementById(id);
        },
            container = $$('hsIncludeExclude'),
            hot;

        window.OrderId = @ViewBag.OrderId;
        window.GoodCategoryId = @ViewBag.GoodCategoryId;
        $(document).ready(function() {
            InitStaffDetailsHandsontables();

            loadIncludeExclude('@Url.Action("PopulateData")');
        });


    </script>
}
