@using wm.Web2.Models
@model IEnumerable<wm.Model.GoodCategory>
@{
    ViewBag.Title = "ManagerEditOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Warehouse keeper EditOrder for Main kitchen</h2>


<div class="row">
    <h4>Update good categories</h4>
    <hr />
    <div class="row">
        @Html.Partial("_EditOrder_GoodCategory", new EditOrder_GoodCategoryViewModel { GoodCategories = Model, EditAction = "WhKeeperEditOrder", orderId = ViewBag.OrderId })

        @Html.Partial("_EditOrder_Handsontable")

    </div>

</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@<div>
</div>


@section Scripts {
    <script src="~/Content/EditOrderHelper.js"></script>
    <script>
        $(document).ready(function() {
            $(".GoodCategoryItem[id$='GoodCategoryItem" + @ViewBag.GoodCategoryId + "']").addClass("active"); //for decoration

            window.isDataChanged = false;
        });
    </script>

    <script>
        var $$ = function(id) {
            return document.getElementById(id);
        },
            container = $$('hsIncludeExclude'),
            hot,
                colHeaderPreDefine, columnsPreDefine;

        window.OrderId = @ViewBag.OrderId;
        window.GoodCategoryId = @ViewBag.GoodCategoryId;
        $(document).ready(function() {
            //build colHeader
            var branches = @Html.Raw(Json.Encode(ViewBag.branches)); //Name only
            colHeaderPreDefine = ['Name'];
            for (var i = 0; i < branches.length; i++) {
                colHeaderPreDefine.push(branches[i].Name);
            }
            colHeaderPreDefine = colHeaderPreDefine.concat(['Sum', 'InStock', 'recommend', 'Quantity', 'Note', 'YourNote']);

            //build columns
            columnsPreDefine = [{ data: 'Name', readOnly: true }];
            for (var i = 0; i < branches.length; i++) {
                columnsPreDefine.push({ data: "Details." + branches[i].Id, readOnly: true, type: 'numeric', format: '0,0.00' });
            }
            columnsPreDefine = columnsPreDefine.concat([
                { data: 'QuantityFromBranch', readOnly: true },
                    { data: 'InStock', readOnly: false },
                    { data: 'RecommenedQuantity', readOnly: true },
                    { data: 'Quantity', readOnly: false, type : 'numeric',format: '0,0.00', allowInvalid: true},
                    { data: 'Note', readOnly: true },
                    { data: 'YourNote', readOnly: false }
            ]);

            hot = new Handsontable(container, {
                startRows: 1,
                startCols: 2,
                allowInvalid: false,
                rowHeaders: true,
                colHeaders: colHeaderPreDefine,
                //dataSchema: { Id: null, Name: null, QuantityFromBranch: null, InStock: null, RecommendedQuantity: null, Quantity: null, Note: null, YourNote: null},
                columns: columnsPreDefine,
                afterChange: function (change, source) {
                    if (source === 'loadData') {
                        return; //don't save this change
                    }
                    console.log("change: " + JSON.stringify(hot.getSourceDataAtRow(change[0][0])));
                    window.isDataChanged = true;
                }
            });

            loadIncludeExclude('@Url.Action("PopulateData")');
        });


    </script>

}
