@using wm.Web2.Models
@model IEnumerable<wm.Model.GoodCategory>
@{
    ViewBag.Title = "ManagerEditOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Warehouse keeper EditOrder</h2>


<div class="row">
    <h4>Update good categories</h4>
    <hr />
    <div class="row">
        @Html.Partial("_EditOrder_GoodCategory", new EditOrder_GoodCategoryViewModel { GoodCategories = Model, EditAction = "WhKeeperEditOrder", orderId = ViewBag.OrderId })

        @Html.Partial("_EditDetailsOrder_Handsontable")

    </div>

</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@<div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/EditOrderHelper.js"></script>
    <script>
        $(document).ready(function() {
            $(".GoodCategoryItem[id$='GoodCategoryItem" + @ViewBag.GoodCategoryId + "']").addClass("active"); //for decoration

            window.isDataChanged = false;
        });
    </script>

    <script>
        var $$ = function(id) {
            return document.getElementById(id);
        },
            container = $$('hsIncludeExclude'),
            hot;

        window.OrderId = @ViewBag.OrderId;
        window.GoodCategoryId = @ViewBag.GoodCategoryId;
        $(document).ready(function() {
            InitStaffEditHandsontables();

            hot.updateSettings({
                afterChange: function(change, source) {
                    if (source === 'loadData') {
                        return; //don't save this change
                    }
                    console.log("change: " + JSON.stringify(hot.getSourceDataAtRow(change[0][0])));
                    window.isDataChanged = true;
                }
            });

            loadIncludeExclude('@Url.Action("PopulateData")');
        });


    </script>
}
