@model IEnumerable<wm.Model.Good>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <table id="exampleTable01" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountantCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodType)
                </th>
                <th>
                    Toolbox
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountantCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodType)
                </th>
                <th>
                    Toolbox
                </th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts {
    <script src="~/Content/crudHelper.js"></script>
    <script>
        $(document).ready(function () {

            document.oTable = $('#exampleTable01').DataTable({
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": "@Url.Action("List")",
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); }
                },
                "pagingType": "full_numbers",
                "processing": true,
                "paging": true,
                "deferRender": true,
                "bSortClasses": false,
                "columns": [
                { "data": "AccountantCode" },
                { "data": "Name" },
                { "data": "UnitName" },
                { "data": "GoodType" },
                {
                    "data": "id", "orderable": false,
                    "render": function (data, type, full, meta) {
                        return type === 'display' &&
                            '<div class="btn-group btn-group-xs" role="group" aria-label="...">'
                            @*+ '<a href="@url.Action("Details")/' + Data + '" class="btn btn-warning btn-details">Details</a>'*@
                        + '<a href="@Url.Action("Edit")/' + data + '" class="btn btn-warning btn-edit">Edit</a>'
                            + '<a href="' + data + '" class="btn btn-warning btn-delete">Delete</a>'
                        + '</div>';
                    }
                }
                ],
                "order": [0, "asc"]
            });

            document.oTable.on('draw.dt', function () {
                $(".btn-delete").click(function (e) {
                    var a_href = $(this).attr('href');
                    e.preventDefault();
                    callDeleteConfirmation({ "id": a_href }, '@Url.Action("Delete")');
                });
            });
        });

    </script>
}
