<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-slide-dropdown">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    @Html.ActionLink("Qlý KHO", "Index", "Dashboard")
                </div>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-slide-dropdown">
                <ul class="nav navbar-nav">
                    @*<li><a href="#">Link</a></li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Quản lý chi nhánh", "QuanLyAgencies", "Prototype01")</li>
                            <li>@Html.ActionLink("Quản lý nhân viên", "QuanLyEmployees", "Prototype01")</li>
                            <li>@Html.ActionLink("Quản lý danh mục hàng", "asd", "Prototype01")</li>
                            <li>@Html.ActionLink("Quản lý hàng", "QuanLyGood", "Prototype01")</li>
                            <li>@Html.ActionLink("Quản lý nhà cung cấp", "asd", "Prototype01")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chi nhánh <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Order chi nhánh", "ChiNhanhOrderChiNhanh", "Prototype01")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bếp tổng <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Tổng hợp order hàng bếp tổng", "BepTongOrder", "Prototype01")</li>

                            <li>@Html.ActionLink("Nhập hàng thực tế", "BepTongNhapThuc", "Prototype01")</li>
                            
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Quản lý định lượng", "BepTongQuanLyDinhLuong", "Prototype01")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kho tổng <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Xác nhận order chi nhánh", "KhoTongOrderChiNhanh", "Prototype01")</li>
                            <li>@Html.ActionLink("Order kho tổng", "ChiNhanhOrderChiNhanh", "Prototype01")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Cập nhật tồn kho", "KhoTongCapNhatTonKho", "Prototype01")</li>
                            <li>@Html.ActionLink("Cập nhật thực nhập kho", "KhoTongNhapThuc", "Prototype01")</li>
                         </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Xuất order bếp tổng theo nguyên vật liệu", "asd", "Prototype01")</li>
                            <li>@Html.ActionLink("Xuất order chi nhánh + kho", "asd", "Prototype01")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Phân bổ hàng theo nhà cung cấp", "asd", "Prototype01")</li>
                            <li>@Html.ActionLink("Gọi hàng theo nhà cung cấp", "asd", "Prototype01")</li>
                        </ul>
                    </li>
                </ul>

                @*<ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Log in as TRUONG</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tùy chỉnh <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">tài khoản</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>*@
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
