@model IEnumerable<wm.Web.Models.BranchListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="exampleTable01" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchTypeName)
            </th>
            <th>ToolboxLinks</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchTypeName)
            </th>
            <th>ToolboxLinks</th>
        </tr>
    </tfoot>

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchTypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }*@

</table>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

<script src="~/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" media="screen" href="~/bower_components/datatables/media/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#exampleTable01').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "Branches")",
                    "type": "POST"
                },
                "columnDefs": [
                    {
                        "targets": 0, "data": "Name"
                    },
                    {
                        "targets": 1, "data": "BranchTypeName"
                    },
                    {
                        "targets": 2, "data": "ToolboxLinks",
                        "render": function (data, type, full, meta) {
                            return type === 'display' &&
                            '<a href="' + data["Details"] + '" class="btn btn-info">Chi tiết</a>'
                            + '<a href="' + data["Edit"] + '" class="btn btn-warning">Sửa</a>'
                            + '<a href="' + data["Delete"] + '" class="btn btn-danger">Xóa</a>';
                    }
                }
                ]
            });

            @*$.ajax({
                url: "@Url.Action("List", "Branches")",
                type: "POST"
            })
            .done(function (data) {
                var dataSet = data;
                alert(dataSet);

                $('#exampleTable01').DataTable({
                    data: dataSet,

                    "columnDefs": [{
                        "targets": 2,
                        "data": null,
                        "defaultContent": '<a href="#" class="btn btn-info">Chi tiết</a> <a href="#" class="btn btn-warning">Sửa</a> <a href="#" class="btn btn-danger">Xóa</a>'
                    }]
                });
            })*@
        });

    </script>

}

