<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ExceptionLib/bootstrap-calendar/css/calendar.css" rel="stylesheet" />

    <link href="~/Content/lib/handsontable/dist/handsontable.full.min.css" rel="stylesheet" />
    <link href="~/Content/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" />
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" Data-toggle="collapse" Data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ctKHO", "GeneralIndex", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-slide-dropdown">
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.Partial("_NavigationBarPartial")
                        @Html.Partial("_LoginPartial")
                    }
                }
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016</p>
        </footer>
    </div>

    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Content/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/Content/lib/moment/moment.js"></script>
    <script src="~/Content/lib/underscore/underscore-min.js"></script>
    <script src="~/Content/ExceptionLib/bootstrap-calendar/js/calendar.js"></script>

    <script src="~/Content/Site.js"></script>
    <script src="~/Content/lib/handsontable/dist/handsontable.full.min.js"></script>

    <link href="~/Content/lib/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/lib/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/lib/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/lib/bootbox/bootbox.js"></script>

    <script src="~/Content/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/lib/select2/dist/js/select2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
