@model wm.Model.Branch

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@hhs.GetTranslatedName("WantToDelete")</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @hhs.GetTranslatedName((wm.Model.Branch p) => p.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value='@hhs.GetTranslatedName("Delete")' class="btn btn-default" /> |
            @Html.ActionLink(hhs.GetTranslatedName("BackToList"), "Index")
        </div>
    }
</div>
