@model wm.Model.Branch

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="col-md-6 col-xs-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit basic informations</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BranchType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.BranchType, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div class="col-md-6 col-xs-12">
    <h4>Update good categories</h4>
    <hr />
    <div class="row form-group col-md-10 col-md-offset-2">
        @if (ViewBag.isInEx == true)
        {
            <input type="checkbox" id="cbSwitchToOrder" />
        }
        else {
            <input type="checkbox" id="cbSwitchToOrder" checked="checked" />
        }
         Enable sort
    </div>
    <div id="groupIncludeExclude">
        <div class="form-group row col-md-10 col-md-offset-2"> Check/Uncheck Items</div>
        <div class="form-group row col-md-10 col-md-offset-2">
            <div id="hsIncludeExclude" class=""></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button name="save" id="save" class="btn btn-danger" onclick="saveIncludeExclude()">Save</button>
            </div>
        </div>
    </div>
    <div id="groupOrder">
        <div class="form-group row col-md-10 col-md-offset-2"> Sort Items</div>
        <div class="form-group row col-md-10 col-md-offset-2">
            <div id="hsOrder" class=""></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button name="save" id="save" class="btn btn-danger" onclick="saveOrder()">Save</button>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <hr />
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //================================================================================
        //helper
        function ajaxPOSTRequest(href, dataObject, onSuccessCallback) {
            $.ajax({
                url: href,
                data: dataObject,
                cache: false,
                type: "POST",
                dataType: "html",
                success: onSuccessCallback
            });
        }
        //================================================================================
        var $$ = function (id) {
            return document.getElementById(id);
        },
    container = $$('hsIncludeExclude'),
    containerOrder = $$('hsOrder'),
    autosave = $$('autosave'),
    load = $$('load'),
    save = $$('save'),
    autosaveNotification,
    hot,
    hotOrder,
    dataInput,
        dataInputOrder;

        function cbSwitchToOrderFunction(obj) {
            var $this = $(obj);
            // $this will contain a reference to the checkbox
            if ($this.is(':checked')) {
                // the checkbox was checked
                //load ordering
                $("#groupIncludeExclude").hide();
                $("#groupOrder").show();
                loadOrder();
            } else {
                // the checkbox was unchecked
                //load include/exclude
                $("#groupIncludeExclude").show();
                $("#groupOrder").hide();
                loadIncludeExclude();
            }
        }
        $(document).ready(function () {
            cbSwitchToOrderFunction($('#cbSwitchToOrder'));
        });

        //switch
        $('#cbSwitchToOrder').click(function() {
            cbSwitchToOrderFunction(this);
            var $this = $(this);
        });

        hot = new Handsontable(container, {
            startRows: 1,
            startCols: 2,
            rowHeaders: true,
            colHeaders: false,
            dataSchema: { Id: null, Name: null, RecommendedQuantity: null, Quantity: null },
            columns: [//TODO: change colorbackground for readonly
              //{ Data: 'CategoryId', readOnly: true },
              { data: 'Name', readOnly: true },
              { data: 'IsChecked', type: 'checkbox' },
            ],
            afterChange: function (change, source) {
                if (source === 'loadData') {
                    return; //don't save this change
                }
                console.log("change: " + JSON.stringify(hot.getSourceDataAtRow(change[0][0])));

            }
        });

        function loadIncludeExclude() {
            ajaxPOSTRequest('@Url.Action("PopulateData")', {id : @Model.Id, isInEx: true},
                function (data, textStatus, XMLHttpRequest) {
                    console.log("client received: " + data);

                    dataInput = JSON.parse(data);
                    hot.loadData(dataInput);

                });
        }

        function saveIncludeExclude() {
            console.log("local Data: " + JSON.stringify({ data: dataInput }));

            //only send checked items to server
            var dataOutputFiltered = [];
            for (i = 0; i < dataInput.length; i++) {
                if (dataInput[i].IsChecked == true) {
                    dataOutputFiltered.push(dataInput[i]);
                }
            }

            ajaxPOSTRequest('@Url.Action("IncludeExcludeNnData")',
                { id: @Model.Id, data: dataOutputFiltered },
                function (data, textStatus, XMLHttpRequest) {
                    var dataObject = JSON.parse(data);
                    if (dataObject.Status = "Ok") {
                        location.reload();
                        //window.location.href = '@Url.Action("Edit", new { id = Model.Id})';
                    }
                    else {
                        console.log("error IncludeExcludeNnData");
                    }
                });
        }

        //================================================================================
        function SortByRanking(a, b){
            var aName = a.Ranking;
            var bName = b.Ranking;
            return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
        }

        hotOrder = new Handsontable(containerOrder, {
            startRows: 1,
            startCols: 2,
            rowHeaders: true,
            colHeaders: false,
            manualRowMove: true,
            dataSchema: { Id: null, Name: null, RecommendedQuantity: null, Quantity: null },
            columns: [//TODO: change colorbackground for readonly
              //{ Data: 'CategoryId', readOnly: true },
              { data: 'Name', readOnly: true },
              { data: 'Ranking', readOnly: true },
              //{ Data: 'IsChecked', type: 'checkbox' },
            ],
            afterRowMove: function (startRow, endRow) {
                if (startRow > endRow) {
                    dataInputOrder[startRow].Ranking = dataInputOrder[endRow].Ranking;
                    for (var i = endRow; i <= startRow - 1; i++) {
                        dataInputOrder[i].Ranking++;
                    }
                }
                else {
                    dataInputOrder[startRow].Ranking = dataInputOrder[endRow].Ranking;
                    for (var i = startRow + 1; i <= endRow; i++) {
                        dataInputOrder[i].Ranking--;
                    }
                }
                dataInputOrder.sort(SortByRanking);
                console.log("Move row: " + startRow + " " + endRow);
            }
        });

        function loadOrder() {
            ajaxPOSTRequest('@Url.Action("PopulateData")', {id : @Model.Id, isInEx: false},
                function (data, textStatus, XMLHttpRequest) {
                    console.log("client received: " + data);

                    dataInputOrder = JSON.parse(data);
                    hotOrder.loadData(dataInputOrder);

                });
        }
        function saveOrder() {
            console.log("local Data: " + JSON.stringify({ data: dataInputOrder }));

            ajaxPOSTRequest('@Url.Action("SortNnData")',
                { id: @Model.Id, data: dataInputOrder },
                function (data, textStatus, XMLHttpRequest) {
                    var dataObject = JSON.parse(data);
                    if (dataObject.Status = "Ok") {
                        location.reload();
                        //window.location.href = '@Url.Action("Edit", new { id = Model.Id, isInEx = false})';
                    }
                    else {
                        console.log("error SortNnData");
                    }
                });
        }



    </script>
}


