@model IEnumerable<wm.Model.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@hhs.GetTranslatedName("List")</h2>

<p>
    @Html.ActionLink(hhs.GetTranslatedName("CreateNew"), "Create")
</p>
<table class="table">
    <tr>
        <th>
            @hhs.GetTranslatedName((wm.Model.Branch p) => p.Name)
        </th>
        <th>
            @hhs.GetTranslatedName((wm.Model.Branch p) => p.BranchType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchType)
        </td>
        <td>
            @Html.ActionLink(hhs.GetTranslatedName("Edit"), "Edit", new { id=item.Id }) |
            @Html.ActionLink(hhs.GetTranslatedName("Delete"), "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
