@model IEnumerable<wm.Web.Models.ApplicationUserListDatatableViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="exampleTable01" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
        </tr>
    </tfoot>
</table>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" media="screen" href="~/bower_components/datatables/media/css/jquery.dataTables.min.css">

    <script>

$(document).ready(function () {

    //$('#datatab tfoot th').each(function () {
    //    $(this).html('<input type="text" />');
    //});

    var oTable = $('#exampleTable01').DataTable({
        "serverSide": true,
        "ajax": {
            "type": "POST",
            "url": "@Url.Action("List", "Account")",
            "contentType": 'application/json; charset=utf-8',
            'data': function (data) { return data = JSON.stringify(data); }
        },
        "pagingType": "full_numbers",
        //"dom": 'frtiS',
        //"scrollY": 500,
        //"scrollX": true,
        //"scrollCollapse": true,
        //"scroller": {
        //    loadingIndicator: false
        //},
        "processing": true,
        "paging": true,
        "deferRender": true,
        "columns": [
       { "data": "UserName" },
       { "data": "FullName" },
       { "data": "Branch" },
       { "data": "Position" }
        ],
        "order": [0, "asc"]

    });

    //oTable.columns().every(function () {
    //    var that = this;

    //    $('input', this.footer()).on('keyup change', function () {
    //        that
    //            .search(this.value)
    //            .draw();
    //    });
    //});

});

    </script>

}

